.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.nav-buttons a {
    padding: 12px 18 px;
    background: #4c6ef5;
    color: fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.1rem;
    transition: background 0.2s;
}

.nav-buttons a:hover {
    background: #3B5BDB;
}