body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #43b823;
    color: #333;
}

header {
    background: linear-gradient(135deg, #43b823, #fff);
    padding: 30px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.big-button {
    background: white;
    padding: 45px 20px;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 12 px;
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 600;
    border: 2px solid #d0d6e0;
    transition: 0.3s;
}

.big-button:hover { 
    background: #4a90e2;
    color: white;
    transform: translateY(-5px);
    border-color: #4a90e2;
}





